
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=fa32a524e835740aeb30877d3ee467e0
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress